<link href="../css/site.css" rel="stylesheet">

@{
    ViewData["Title"] = "Некорректные данные внутри файла";
}

<div class="main-wrapper">
    <h1>Некорректные данные внутри файла. Пожалуйста, убедитесь, что загружаемый файл соответствует требуемому формату.</h1>
</div>